* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    
    margin: 47px 0 194.02px 42px;    
}


.header-left {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.875px;
    text-align: center;    
    margin-right: 36px;       
    color: #17233D;
    cursor: pointer;
}
a:hover{
    opacity: 0.4;
}
a:active {
    opacity: 0.8;
}
button{
    font-weight: 500;
    width: 124px;
    height: 51px;
    font-size: 20px;    
    letter-spacing: 1px;    
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    opacity: 0.5;
}
button:active {
    opacity: 0.9;
}
img {
    width: 534px;
    height: 467px;    
    margin-left: 121px;
    display: inline-block;
}
section {
    display: inline-block;
    margin-right: 96px;    
}

h1 { 
    width: 582px;   
    font-weight: 700;    
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596px;      
    color: #161A49;
}
p {
    width:493px;
    font-weight: 400;    
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 47px; 
    margin-bottom: 55px;   
    color: #4B505A;
}
.link-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;  
    letter-spacing: 1px;
    color: #6FBF44;
    
}